<!DOCTYPE html>
<html lang="en">
<head>
	<title>Complaint Portal</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

				<form class="contact100-form validate-form" method="POST">
					<span class="contact100-form-title"> <center>
						CUSTOMER SERVICE PORTAL </center>

						Let us know what's troubling you </center>
					</span>


					<div class="wrap-input100 validate-input" data-validate = "Complaint is required">
						<textarea class="input100" name="complaint" placeholder="Please type your complaint..."></textarea>
						<span class="focus-input100"></span>
					</div>

					<div class="container-contact100-form-btn">
						<button class="contact100-form-btn" type="submit" value="Submit">
							Send
						</button>
					</div>
				</form>
			</div>
		</div> </center>
	</div> 






</body>
</html>
